<div class="container">
  <div class="jumbotron">
    <div class="row text-right">
      <a class="btn btn-warning"  routerLink="/editProfile"><i class="fa fa-pencil"></i> Modifier</a>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo"
             class="img">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2>{{profile.pseudo}}</h2>
        </div>
        <ul class="container details">
          <li><p>Nom : {{profile.name}}</p></li>
          <li><p>Poids : {{profile.weight}}</p></li>
          <li><p>Téléphone : {{profile.phone}}</p></li>
          <li><p>Adresse : {{profile.address}}</p></li>
          <li><p>Nourriture : {{profile.breed}}</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
